<footer id="footer" >
    <a href="https://www.facebook.com/nikhil.prakash.520/"><i data-aos="slide-up" class="social-margin fab fa-facebook-f"></i></i></a> 
      <a href="https://twitter.com/Nikhil21994254"><i data-aos="slide-up" class="social-margin fab fa-twitter"></i> </a>
    <a href="https://www.instagram.com/nikhilprakash2012/"><i data-aos="slide-up" class="social-margin fab fa-instagram"></i> </a>
       <a href="https://github.com/nikhil-03"><i data-aos="slide-up" class="social-margin fab fa-github"></i> </a>

   <p>© Copyright 2020 NIKHIL</p>

</footer>
</body>
</html>
<script type="text/javascript">
    AOS.init({
        duration : 1200,
    });
 </script>