<%- include("header") %> 

<link rel="stylesheet" href="/public/css/bootstrap-social.css">
<div id="login">
    <div class="row">
      <div class="col-sm login-main">
        <!-- <img class="profile-pic" src="https://media-exp1.licdn.com/dms/image/C4E03AQGk-KOgqRCVTA/profile-displayphoto-shrink_200_200/0?e=1599696000&v=beta&t=S7E9y-T1QWDhjOY35WOl_LFyPPL7EMFYRakSxjrHERA" alt="nikhil pic" >  -->
        <p class="login-para">I am <b>NIKHIL</b> . I am a designer, front end and backend designer from INDIA. I also love to develop logic and do coding and always strive to find the 
            easiest way for the hardest question. with a keen interest in Robotics, competitive coding and Web Development. When I ain't coding
             you can find me driving a car and exploring places or might be eating, of course, no connection from the gym so long still energetic and young.</p>
      </div>
      
        <div class="pricing-column col-lg-4 col-md-6 login-main">
            <div class="card">
              <div class="card-header">
                <h3>LOGIN</h3>
              </div>
               <div class="card-body">
                       <p>Please login with your google account to use this app which will help us to authenticate you and to maintain your database.</p>
                        <div class="google-login">
                            <a class="btn btn-block " href="/auth/google" role="button">
                                <i></i>
                                <!-- <h5>Sign In with Google</h5> -->
                                <button class="btn btn-block btn-dark btn-lg btn-social btn-google"><i class="fab fa-google"></i>Sign In with Google</button>
                              </a>
                        </div>
                     
                  </div>
             
              </div>
              
            </div>


         </div>
        
      
    </div>
  </div>



<%- include("footer") -%> 
