<%- include("header") %> 
    <!-- navbar only -->
    


<h1 class="post-blog-heading h1-internal">SAVE YOUR MEDICINES HERE</h1>
<form class="post-db-main" action="/medicine-post" method="post">
  <div class="form-group">

    <!-- <label class="post-label"> YOUR EMAIL</label>
    <input class="form-control" type="email" name="email" required> -->

    <label class="post-label">Problem Occured</label>
    <input class="form-control" type="text" name="problem">

    <label class="post-label">Symptom</label>
    <textarea class="form-control" name="symptom" rows="5" cols="30"></textarea>

    <label class="post-label">AGE</label>
    <input class="form-control" type="number" name="age">

    <label class="post-label">Medicines</label>
    <textarea class="form-control" name="medicines" rows="5" cols="30"></textarea>

  </div>
  <button class="btn btn-primary" type="submit" name="button">Save</button>
</form>

<%- include("footer") %> 

